@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-primary-600 text-white px-4 py-2 rounded-md;
  }
  .input {
    @apply bg-white border border-white  text-gray-900 sm:text-sm
    rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full
    p-2.5;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-button-next {
  top: 90%;
  right: 5%;
  height: 50px;
  width: 50px;
  padding: 14px;
  background-color: orangered;
  border-radius: 50%;
}

.swiper-button-prev {
  top: 90%;
  left: 85%;
  height: 50px;
  width: 50px;
  padding: 14px;
  background-color: #00000050;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: large;
}

.swiper-pagination-bullet {
  background-color: orangered;
}
